node_modules/
coverage/
.env
.env.*
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
*.log

.idea/
.vscode/

dist/
build/

*.pem
*.key

terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
!terraform/*.tfvars.example
